<div>
  

  <%= form_for @user do |f| %>
    <h2>Sign Up</h2>
    <%=f.label :username %>
    <%=f.text_field :username %>
    <%=f.label :password %>
    <%=f.password_field :password %>
    <%=f.label "Confirm Password" %>
    <%= password_field_tag :password_confirmation, nil %>
    <%=f.submit :create %>

  <% end %>

</div>