<!DOCTYPE html>
<html>
<head>
  <title>Railsblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    
    <nav>
      <ul id="navbar">
        <li class="navlink"><a href="/">Home</a></li>
        <li class="navlink"><a href="/posts">Feed</a></li>
        <li class="navlink"><a href="/posts/new">Post</a></li>
            <% if current_user %>
              <li id="signout_link"><%= link_to "Sign Out", '/logout', method: :delete %></li>
              
            <% else %>
              <div id="login_form">
                <%= form_tag '/sessions' do %>
                  <%= text_field_tag :username, nil, placeholder: "Username" %>
                  <%= password_field_tag :password, nil, placeholder: "password" %>
                  <%= submit_tag "Log In" %>
                <% end %>

                <%= content_tag(:div, (link_to "Not a member? Sign up now!", new_user_path), id: "signup_link") %>
              </div>
            <% end %>
       </ul>
    </nav>

  </header>

  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>

<%= yield %>

</body>
</html>
